Repository vectordotdev/vrl, pull requests merged in 2023-11, with the labels that each got.

#530 chore: Add wrapper type for key strings
  Cargo.toml
  src/cli/cmd.rs
  src/compiler/compiler.rs
  src/compiler/expression/object.rs
  src/compiler/function.rs
  src/compiler/function/closure.rs
  src/compiler/prelude.rs
  src/compiler/value.rs
  src/compiler/value/arithmetic.rs
  src/compiler/value/convert.rs
  src/core/encode_key_value.rs
  src/core/encode_logfmt.rs
  src/datadog/grok/parse_grok.rs
  src/datadog/grok/parse_grok_rules.rs
  src/parser/parser.lalrpop
  src/path/mod.rs
  src/path/owned.rs
  src/stdlib/compact.rs
  src/stdlib/encode_json.rs
  src/stdlib/encode_key_value.rs
  src/stdlib/flatten.rs
  src/stdlib/log_util.rs
  src/stdlib/parse_aws_alb_log.rs
  src/stdlib/parse_aws_cloudwatch_log_subscription_message.rs
  src/stdlib/parse_cef.rs
  src/stdlib/parse_glog.rs
  src/stdlib/parse_grok.rs
  src/stdlib/parse_groks.rs
  src/stdlib/parse_key_value.rs
  src/stdlib/parse_klog.rs
  src/stdlib/parse_query_string.rs
  src/stdlib/parse_ruby_hash.rs
  src/stdlib/parse_syslog.rs
  src/stdlib/parse_url.rs
  src/stdlib/parse_xml.rs
  src/stdlib/remove.rs
  src/stdlib/set.rs
  src/stdlib/tag_types_externally.rs
  src/stdlib/tally.rs
  src/stdlib/type_def.rs
  src/stdlib/util.rs
  src/value/keystring.rs
  src/value/kind/collection.rs
  src/value/kind/collection/field.rs
  src/value/kind/crud/remove.rs
  src/value/kind/debug.rs
  src/value/mod.rs
  src/value/value.rs
  src/value/value/arbitrary.rs
  src/value/value/convert.rs
  src/value/value/crud/insert.rs
  src/value/value/crud/mod.rs
  src/value/value/iter.rs
  src/value/value/serde.rs
Labels: type: tech debt

#563 feat(parse_regex_all): allow variables for the 'pattern' parameter
  CHANGELOG.md
  lib/tests/tests/functions/parse_regex_all.vrl
  src/stdlib/parse_regex_all.rs
Labels: type: enhancement, vrl: stdlib

#580 feat: support timestamp comparison
  CHANGELOG.md
  lib/tests/tests/expressions/comparison/ge.vrl
  lib/tests/tests/expressions/comparison/gt.vrl
  lib/tests/tests/expressions/comparison/le.vrl
  lib/tests/tests/expressions/comparison/lt.vrl
  src/compiler/expression/op.rs
  src/compiler/value/arithmetic.rs
Labels: type: enhancement
