Repository vectordotdev/vrl, pull requests merged in 2024-08, with the labels that each got.

#1000 chore(datadog search): Rewrite parse function in terms of `FromStr`
  src/datadog/filter/matcher.rs
  src/datadog/filter/mod.rs
  src/datadog/filter/resolver.rs
  src/datadog/search/field.rs
  src/datadog/search/grammar.rs
  src/datadog/search/mod.rs
  src/datadog/search/parser.rs
  src/lib.rs
  src/stdlib/match_datadog_query.rs
Labels: type: tech debt, no-changelog

#1001 enhancement(datadog search): Support && and || in queries
  changelog.d/1001.enhancement.md
  src/datadog/search/grammar.pest
  src/datadog/search/parser.rs
Labels: type: enhancement, vrl: stdlib

#1003 fix(datadog search): remove Datadog logs intake event structure assumption
  changelog.d/1003.fix.md
  src/datadog/search/field.rs
  src/stdlib/match_datadog_query.rs
Labels: type: bug

#1007 chore(datadog search): Allow use of `QueryNode` in configurations
  Cargo.toml
  src/datadog/search/node.rs
Labels: no-changelog

#1009 chore(deps): Relax constraint on indexmap
  Cargo.toml
Labels: no-changelog
