Repository vectordotdev/vrl, pull requests merged in 2024-05, with the labels that each got.

#815 chore: Deprecate coalesce paths
  Cargo.toml
  changelog.d/815.deprecation.md
  src/path/mod.rs
Labels: type: tech debt

#816 chore: Prepare v0.15.0 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/815.deprecation.md
Labels: no-changelog

#831 chore(deps): bump domain from 0.9.3 to 0.10.0
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  src/stdlib/dns_lookup.rs
Labels: no-changelog

#817 chore: Introduce borrowed path types
  src/path/borrowed.rs
  src/path/mod.rs
Labels: type: tech debt, no-changelog

#859 enhancement(parse_groks): Add missing Datadog grok filters
  Cargo.toml
  src/datadog/grok/grok_filter.rs
  src/datadog/grok/parse_grok.rs
  src/lib.rs
  src/parsing/mod.rs
  src/parsing/query_string.rs
  src/parsing/ruby_hash.rs
  src/parsing/xml.rs
  src/stdlib/parse_query_string.rs
  src/stdlib/parse_ruby_hash.rs
  src/stdlib/parse_xml.rs
Labels: no-changelog
