Repository vectordotdev/vrl, pull requests merged in 2024-11, with the labels that each got.

#1104 enhancement(punycode): improve performance for already coded cases
  benches/stdlib.rs
  changelog.d/1104.enhancement.md
  src/stdlib/decode_punycode.rs
  src/stdlib/encode_punycode.rs
Labels: vrl: stdlib

#1116 chore(performance): reduce regex capture calls in parse_grok date filter
  src/datadog/grok/matchers/date.rs
  src/datadog/grok/parse_grok_rules.rs
Labels: no-changelog

#1113 chore(parse_groks): expose internal errors
  src/datadog/grok/filters/keyvalue.rs
  src/datadog/grok/grok.rs
  src/datadog/grok/grok_filter.rs
  src/datadog/grok/matchers/date.rs
  src/datadog/grok/parse_grok.rs
  src/stdlib/parse_groks.rs
Labels: no-changelog

#1134 chore(dev): format Cargo.toml
  Cargo.toml
Labels: no-changelog

#1150 chore(releasing): Prepare VRL v0.20.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/1079.fix.md
  changelog.d/1100.feature.md
  changelog.d/1104.enhancement.md
  changelog.d/1107.breaking.md
  changelog.d/1114.fix.md
  changelog.d/1115.fix.md
  changelog.d/1117.enhancement.md
  changelog.d/1148.fix.md
Labels: no-changelog, domain: releasing
