Repository vectordotdev/vrl, pull requests merged in 2024-12, with the labels that each got.

#1158 feat(stdlib): Add `zip` function
  benches/stdlib.rs
  changelog.d/1158.feature.md
  src/stdlib/mod.rs
  src/stdlib/zip.rs
Labels: vrl: stdlib, type: feature

#1159 enhancement(stdlib): Allow `zip` function to take two array parameters
  benches/stdlib.rs
  src/stdlib/zip.rs
Labels: type: enhancement, vrl: stdlib, no-changelog

#1160 enhancement(stdlib): Add support for constant parameters to `zip`
  src/stdlib/zip.rs
Labels: type: enhancement, vrl: stdlib, no-changelog

#1170 chore(ci): dependabot weekly schedule
  .github/dependabot.yml
Labels: no-changelog

#1171 chore(deps): Update anstream and hashbrown to fix vulnerabilities reported by `cargo deny`
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: no-changelog

#1164 feat(stdlib): Add new `object_from_array` function
  benches/stdlib.rs
  changelog.d/1164.feature.md
  src/stdlib/mod.rs
  src/stdlib/object_from_array.rs
  src/stdlib/util.rs
  src/stdlib/zip.rs
Labels: vrl: stdlib, type: feature

#1172 chore(deps): Update all transitive dependencies
  Cargo.lock
  LICENSE-3rdparty.csv
Labels: no-changelog

#1173 chore(deps): Bump Rust toolchain to 1.83.0
  rust-toolchain.toml
  src/compiler/conversion/mod.rs
  src/core/encode_key_value.rs
  src/datadog/grok/filters/array.rs
  src/datadog/grok/filters/keyvalue.rs
  src/datadog/grok/lexer.rs
  src/datadog/grok/parse_grok_rules.rs
  src/diagnostic/formatter.rs
  src/path/mod.rs
  src/stdlib/decode_mime_q.rs
  src/stdlib/encode_punycode.rs
  src/stdlib/parse_aws_alb_log.rs
  src/stdlib/starts_with.rs
  src/value/value/iter.rs
Labels: domain: deps, no-changelog

#1174 chore(ci): dependabot allow all dep types
  .github/dependabot.yml
Labels: no-changelog

#1176 enhancement(stdlib): Add support for `keys` parameter to `object_from_array`
  benches/stdlib.rs
  src/stdlib/object_from_array.rs
Labels: type: enhancement, vrl: stdlib, no-changelog

#1177 enhancement(stdlib): Add support for `null` keys to `object_from_array`
  src/stdlib/object_from_array.rs
Labels: type: enhancement, vrl: stdlib, no-changelog

#1178 Revert "chore(deps): bump lalrpop from 0.20.2 to 0.22.0"
  Cargo.lock
  Cargo.toml
Labels: no-changelog

#1180 chore(stdlib): fix typo in parse_float and add one test case
  src/stdlib/parse_float.rs
Labels: no-changelog

#1179 fix(convert): Revert PR #1108 "return error when conversion exceeds f64 bounds"
  changelog.d/1179.fix.md
  src/compiler/conversion/mod.rs
  src/compiler/conversion/tests/mod.rs
Labels: vrl: stdlib, meta: regression

#1181 docs(internal): Add template for releasing VRL
  .github/ISSUE_TEMPLATE/minor-release.md
Labels: no-changelog

#1185 chore(conversion): 'to_float' and 'parse_float' should share implementation
  src/compiler/conversion/tests/mod.rs
  src/stdlib/parse_float.rs
  src/stdlib/to_float.rs
Labels: no-changelog

#1187 chore(releasing): cherry pick v0.20.1 commits
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/1179.fix.md
Labels: no-changelog, domain: releasing
