Repository vectordotdev/vrl, pull requests merged in 2024-02, with the labels that each got.

#676 chore(developing): Convert `stdlib` feature to newline delimited list
  Cargo.toml
Labels: no-changelog

#677 chore(dev): Add benchmark for parse_etld
  benches/stdlib.rs
Labels: no-changelog

#679 Fix two bugs with exporting paths
  changelog.d/679.fix.md
  src/path/owned.rs
Labels: type: bug

#680 Run proptests on paths
  Cargo.toml
  LICENSE-3rdparty.csv
  src/path/mod.rs
  src/path/owned.rs
  src/value/keystring.rs
Labels: domain: tests, no-changelog

#681 Optimize path export functions
  src/path/owned.rs
Labels: type: tech debt, no-changelog

#684 Add missing VRL tests for `parse_etld`
  lib/tests/tests/functions/parse_etld/etld_from_url.vrl
  lib/tests/tests/functions/parse_etld/etld_plus_one.vrl
  lib/tests/tests/functions/parse_etld/etld_plus_ten.vrl
  lib/tests/tests/functions/parse_etld/just_etld.vrl
  src/stdlib/parse_etld.rs
Labels: no-changelog

#685 chore(releasing): Prepare 0.11.0 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/633.enhancement.md
  changelog.d/669.feature.md
  changelog.d/671.enhancement.md
  changelog.d/672.feature.md
  changelog.d/679.fix.md
Labels: no-changelog

#690 chore(ci): use merge-base in check for added changelog fragments
  scripts/check_changelog_fragments.sh
Labels: no-changelog

#691 chore(ci): checkout full depth in changelog workflow
  .github/workflows/changelog.yaml
Labels: no-changelog

#696 Make iana-time-zone optional and behind stdlib flag
  Cargo.toml
Labels: no-changelog

#710 fix(stdlib): ensure punycode functions keep all input parts
  src/stdlib/decode_punycode.rs
  src/stdlib/encode_punycode.rs
Labels: no-changelog
