Repository vectordotdev/vrl, pull requests merged in 2024-06, with the labels that each got.

#870 fix(parse_groks): support multibyte characters and date matcher w/o zero-padding
  src/datadog/grok/lexer.rs
  src/datadog/grok/matchers/date.rs
  src/datadog/grok/parse_grok.rs
  src/datadog/grok/parse_grok_pattern.rs
Labels: no-changelog

#872 fix(datadog grok): support more fraction of a second formats
  src/datadog/grok/matchers/date.rs
  src/datadog/grok/parse_grok.rs
  src/datadog/grok/parse_grok_rules.rs
Labels: no-changelog

#873 chore: Prepare v0.16.0 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/764.feature.md
  changelog.d/836.breaking.md
  changelog.d/851.feature.md
  changelog.d/862.enhancement.md
Labels: no-changelog

#874 chore(tests): Use dns.google in dns_lookup tests instead of localhost
  src/stdlib/dns_lookup.rs
  src/test/mod.rs
Labels: no-changelog

#876 chore(releasing): cleanup changelog.md of unneeded authors
  CHANGELOG.md
Labels: no-changelog

#875 chore(ci): Also run tests on MacOS
  .github/workflows/test.yml
Labels: no-changelog

#878 chore(deps): Update Rust to 1.78
  rust-toolchain.toml
  src/compiler/expression/assignment.rs
  src/stdlib/log.rs
  src/test/mod.rs
  src/test/test.rs
  src/value/kind/collection.rs
  src/value/secrets.rs
Labels: no-changelog

#866 chore: Add macros to create owned event/metadata paths
  src/cli/cmd.rs
  src/cli/repl.rs
  src/path/mod.rs
Labels: type: tech debt, no-changelog

#889 chore(deps): Permit Unicode-3.0 license
  deny.toml
Labels: no-changelog

#892 chore(deps): Update Rust to 1.79
  rust-toolchain.toml
Labels: domain: deps, no-changelog

#882 fix(stdlib): properly detect tokio runtime in `dns_lookup`
  Cargo.lock
  Cargo.toml
  src/stdlib/dns_lookup.rs
Labels: no-changelog

#906 [OPA-1889] Fix some of the remaining grok discrepancies
  src/datadog/grok/filters/keyvalue.rs
  src/datadog/grok/grok_filter.rs
  src/datadog/grok/matchers/date.rs
  src/datadog/grok/parse_grok.rs
  src/stdlib/community_id.rs
  src/stdlib/parse_groks.rs
Labels: no-changelog

#913 fix(datadog grok:querystring filter): ignore keys w/o values
  src/datadog/grok/grok_filter.rs
  src/parsing/query_string.rs
  src/stdlib/parse_query_string.rs
Labels: no-changelog
