Repository vectordotdev/vrl, pull requests merged in 2025-08, with the labels that each got.

#1467 chore(datadog_search): Export `build_matcher` as a method on `QueryNode`
  src/datadog/filter/matcher.rs
Labels: vrl: stdlib, type: tech debt, no-changelog

#1360 feat(stdlib): add `http_request` function
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  README.md
  deny.toml
  src/stdlib/http_request.rs
  src/stdlib/mod.rs
Labels: meta: awaiting author, no-changelog

#1486 chore(dev): simplify proto exports
  src/protobuf/encode.rs
  src/protobuf/mod.rs
  src/protobuf/parse.rs
  src/stdlib/encode_proto.rs
  src/stdlib/parse_proto.rs
Labels: no-changelog
