Repository vectordotdev/vrl, pull requests merged in 2025-01, with the labels that each got.

#1203 fix(stdlib): bump year in failing examples
  src/stdlib/parse_klog.rs
  src/stdlib/parse_linux_authorization.rs
Labels: no-changelog

#1204 Bump MSRV to 1.80
  Cargo.toml
Labels: no-changelog

#1202 feat(stdlib): Add `main` log format to `parse_nginx_log` function
  benches/stdlib.rs
  changelog.d/1202.feature.md
  src/stdlib/log_util.rs
  src/stdlib/parse_nginx_log.rs
Labels: vrl: stdlib

#1205 docs(external): CONTRIBUTING.md enhancements
  CONTRIBUTING.md
Labels: no-changelog

#1198 feat(stdlib) Add new `parse_bytes` function
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  benches/stdlib.rs
  changelog.d/1198.feature.md
  lib/tests/tests/functions/parse_bytes.vrl
  src/stdlib/mod.rs
  src/stdlib/parse_bytes.rs
Labels: vrl: stdlib

#1219 chore(releasing): bump VRL version to 0.21.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/1136.feature.md
  changelog.d/1152.feature.md
  changelog.d/1158.feature.md
  changelog.d/1162.feature.md
  changelog.d/1164.feature.md
  changelog.d/1197.feature.md
  changelog.d/1198.feature.md
  changelog.d/1202.feature.md
  changelog.d/1207.feature.md
  changelog.d/2893.fix.md
  changelog.d/979.breaking.md
Labels: no-changelog, domain: releasing

#1235 fix(dev): fix `to_syslog_facility_code` example
  src/stdlib/to_syslog_facility_code.rs
Labels: no-changelog

#1234 chore(dev): clippy fixes
  src/stdlib/compact.rs
  src/stdlib/crc.rs
  src/stdlib/format_number.rs
  src/stdlib/from_unix_timestamp.rs
  src/stdlib/hmac.rs
  src/stdlib/ip_subnet.rs
  src/stdlib/log.rs
  src/stdlib/log_util.rs
  src/stdlib/map_values.rs
  src/stdlib/mod.rs
  src/stdlib/parse_apache_log.rs
  src/stdlib/parse_aws_alb_log.rs
  src/stdlib/parse_common_log.rs
  src/stdlib/parse_json.rs
  src/stdlib/parse_key_value.rs
  src/stdlib/parse_nginx_log.rs
  src/stdlib/redact.rs
  src/stdlib/remove.rs
  src/stdlib/set.rs
  src/stdlib/starts_with.rs
  src/stdlib/to_bool.rs
  src/stdlib/unnest.rs
Labels: no-changelog

#1236 chore(dev): more clippy fixes
  src/stdlib/assert.rs
  src/stdlib/compact.rs
  src/stdlib/encode_percent.rs
  src/stdlib/log.rs
  src/stdlib/map_values.rs
  src/stdlib/mod.rs
  src/stdlib/parse_aws_alb_log.rs
  src/stdlib/parse_cef.rs
  src/stdlib/parse_key_value.rs
  src/stdlib/parse_nginx_log.rs
  src/stdlib/parse_syslog.rs
  src/stdlib/string_utils.rs
Labels: no-changelog

#1237 chore(dev): more tricky clippy fixes
  src/stdlib/encode_gzip.rs
  src/stdlib/encode_zlib.rs
  src/stdlib/encode_zstd.rs
  src/stdlib/find.rs
  src/stdlib/format_int.rs
  src/stdlib/format_number.rs
  src/stdlib/get.rs
  src/stdlib/match_datadog_query.rs
  src/stdlib/mod.rs
  src/stdlib/parse_etld.rs
  src/stdlib/parse_influxdb.rs
  src/stdlib/parse_int.rs
  src/stdlib/parse_json.rs
  src/stdlib/random_bytes.rs
  src/stdlib/remove.rs
  src/stdlib/replace.rs
  src/stdlib/replace_with.rs
  src/stdlib/set.rs
  src/stdlib/slice.rs
  src/stdlib/split.rs
  src/stdlib/to_float.rs
  src/stdlib/to_int.rs
  src/stdlib/truncate.rs
  src/stdlib/util.rs
  src/stdlib/uuid_v7.rs
  src/value/value/serde.rs
Labels: no-changelog

#1238 chore(dev): fix deprecations
  src/stdlib/from_unix_timestamp.rs
  src/stdlib/mod.rs
  src/stdlib/parse_apache_log.rs
  src/stdlib/parse_glog.rs
  src/stdlib/parse_klog.rs
  src/stdlib/parse_syslog.rs
  src/stdlib/tag_types_externally.rs
  src/stdlib/to_float.rs
  src/stdlib/to_unix_timestamp.rs
Labels: no-changelog

#1239 chore(dev): clippy auto-fixes
  src/datadog/filter/regex.rs
  src/datadog/grok/lexer.rs
  src/parser/lex.rs
  src/path/owned.rs
  src/stdlib/starts_with.rs
  src/value/value/serde.rs
Labels: no-changelog

#1242 chore(parsing): Make node processing in `parsing::xml` public
  src/parsing/xml.rs
Labels: no-changelog
